<feed xmlns="http://www.w3.org/2005/Atom">
<title>{{schema.headline}}</title>
<subtitle>{{schema.abstract}}</subtitle>
<id>{{_base}}/</id>
<link rel="self" href="{{_base}}/atom.{{schema.inlanguage}}.xml"/>
<link rel="alternate" href="{{_base}}/"/>
{{_main}}
</feed>
