<entry>
{{#schema.headline}}
<title>{{schema.headline}}</title>
{{/schema.headline}}
{{^schema.headline}}
<title>{{schema.name}}</title>
{{/schema.headline}}
<id>{{_base}}{{.}}</id>
<link href="{{_base}}{{.}}"/>
{{#schema.datepublished}}
<published>{{schema.datepublished}}</published>
{{/schema.datepublished}}
{{#schema.datemodified}}
<updated>{{schema.datemodified}}</updated>
{{/schema.datemodified}}
{{#schema.author}}
<author>
<name>{{schema.author}}</name>
</author>
{{/schema.author}}
{{#schema.abstract}}
<summary>{{schema.abstract}}</summary>
{{/schema.abstract}}
{{^schema.abstract}}
<summary>{{schema.description}}</summary>
{{/schema.abstract}}
</entry>
