<!DOCTYPE html>
<html typeof="{{a}}" resource="{{.}}" lang="{{schema.inlanguage}}">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
{{#schema.datepublished}}
<meta property="schema:datepublished" content="{{schema.datepublished}}"/>
{{/schema.datepublished}}
{{#schema.datemodified}}
<meta property="schema:datemodified" content="{{schema.datemodified}}"/>
{{/schema.datemodified}}
<link rel="stylesheet" href="/style.css"/>
{{#schema.worktranslation}}
<link ref="alternate" type="text/html" hreflang="{{schema.inlanguage}}" href="{{.}}"/>
{{/schema.worktranslation}}
{{#schema.translationofwork}}
<link ref="alternate" type="text/html" hreflang="{{schema.inlanguage}}" href="{{.}}"/>
{{/schema.translationofwork}}
<link rel="alternate" type="application/atom+xml" href="/feed.{{schema.inlanguage}}.xml"/>
{{#schema.headline}}
<title>{{schema.headline}}</title>
{{/schema.headline}}
{{^schema.headline}}
<title>{{schema.name}}</title>
{{/schema.headline}}
</head>
<body>
<header>
{{>nav}}
</header>
<main>
{{_main}}
{{#schema.author}}
<footer>
<address property="schema:author">{{schema.author}}</address>
</footer>
{{/schema.author}}
</main>
</body>
</html>
