<li property="schema:itemlistelement" typeof="{{a}}">
{{#schema.headline}}
<a property="schema:url" href="{{.}}">{{schema.headline}}</a>
{{/schema.headline}}
{{^schema.headline}}
<a property="schema:url" href="{{.}}">{{schema.name}}</a>
{{/schema.headline}}
</li>
