.Dd $Mdocdate$
.Dt {{schema.name:U}} {{schema.softwarecategory}} 
{{#schema.operatingsystem}}
.Os {{schema.operatingsystem:N}}
{{/schema.operatingsystem}}
.Sh NAME
.Nm {{schema.name:N}}
.Nd {{schema.abstract:N}}
{{#unix.command.1}}
.Sh SYNOPSIS
.Nm
{{#unix.command}}
.{{#unix.optional}}Op {{/unix.optional}}
{{#unix.option}}Fl {{.}}{{/unix.option}}{{#unix.optionargument}} Ar {{unix.optionargument}}{{/unix.optionargument}}
{{#unix.argument}}Ar {{.}}{{/unix.argument}} 
{{/unix.command}}
{{/unix.command.1}}
.Sh DESCRIPTION
{{schema.description:N}}
{{#unix.command.1}}
.Pp
The options are as follows:
.Bl -tag -width indent
{{#unix.command}}
.It {{#unix.option}}Fl {{.}}{{/unix.option}}{{#unix.optionargument}} Ar {{unix.optionargument}}{{/unix.optionargument}}
{{#unix.argument}}Ar {{.}} {{/unix.argument}} 
{{unix.description:N}}
{{/unix.command}}
.El
{{/unix.command.1}}
{{#schema.text}}
{{schema.text:N}}
{{/schema.text}}
{{#unix.environment.1}}
.Sh ENVIRONMENT
.Pp
The following environment variables affect the execution:
.Bl -tag -width Ds
{{#unix.environment}}
.It Ev {{.:N}}
{{unix.description:N}}
{{/unix.environment}}
.El
{{/unix.environment.1}}
{{#schema.workexample.1}}
.Sh EXAMPLES
{{#schema.workexample}}
{{schema.description:N}}
.Bd -literal -offset indent
{{schema.text:N}}
.Ed
{{/schema.workexample}}
{{/schema.workexample.1}}
{{#schema.author}}
.Sh AUTHORS
.An {{schema.author}}
{{/schema.author}}
{{#schema.usageinfo}}
.Sh CAVEATS
{{schema.usageinfo}}
{{/schema.usageinfo}}
