# {{schema.name}} – {{schema.abstract}} 

{{schema.description:W}} 

{{#schema.softwarerequirements.1}}
## Requirements

{{#schema.softwarerequirements}}
- [{{schema.name}}]({{.}})
{{/schema.softwarerequirements}}
{{/schema.softwarerequirements.1}}

{{#schema.license.1}}
## License

{{#schema.license}}
[{{schema.name}}]({{.}})
{{/schema.license}}
{{/schema.license.1}}

{{#schema.downloadurl}}
## Download

See {{schema.downloadurl}} 
{{/schema.downloadurl}}
