<url>
<loc>{{_base}}{{.}}</loc>
{{#schema.datemodified}}
<lastmod>{{schema.datemodified}}</lastmod>
{{/schema.datemodified}}
{{^schema.datemodified}}
{{#schema.datepublished}}
<lastmod>{{schema.datepublished}}</lastmod>
{{/schema.datepublished}}
{{/schema.datemodified}}
</url>
