<!DOCTYPE html>
<html typeof="{{a}}" resource="{{.}}" lang="{{schema.inlanguage}}">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
{{#schema.worktranslation}}
<link ref="alternate" type="text/html" hreflang="{{schema.inlanguage}}" href="{{.}}"/>
{{/schema.worktranslation}}
{{#schema.translationofwork}}
<link ref="alternate" type="text/html" hreflang="{{schema.inlanguage}}" href="{{.}}"/>
{{/schema.translationofwork}}
<link rel="stylesheet" href="/style.css"/>
<title>{{schema.name}}</title>
</head>
<body>
<header>
{{>nav}}
</header>
<main>
<h1>{{schema.name}}</h1>
<p><mark>{{schema.name}}</mark> – {{schema.abstract}}</p>
{{#unix.command.1}}
<p><mark>{{schema.name}}</mark>
{{#unix.command}}
{{#unix.optional}}[{{/unix.optional}}
{{#unix.option}}<b>-{{.}}</b>{{/unix.option}}
{{#unix.optionargument}} <i>{{unix.optionargument}}</i>{{/unix.optionargument}}
{{#unix.argument}}<i>{{.}}</i>{{/unix.argument}}
{{#unix.optional}}]{{/unix.optional}} 
{{/unix.command}}
{{/unix.command.1}}</p>
{{schema.description}} 
{{#unix.command.1}}
<p>The options are as follows:</p>
<dl>
{{#unix.command}}
<dt>{{#unix.option}}<b>-{{.}}</b>{{/unix.option}}
{{#unix.optionargument}} <i>{{unix.optionargument}}</i>{{/unix.optionargument}}
{{#unix.argument}}<i>{{.}}</i>{{/unix.argument}}</dt>
<dd>{{unix.description}}</dd>
{{/unix.command}}
</dl>
{{/unix.command.1}}
{{#schema.text}}
{{schema.text}} 
{{/schema.text}}
{{#unix.environment.1}}
<h2>Environment</h2>
<p>The following environment variables affect the execution:</p>
<dl>
{{#unix.environment}}
<dt><var>{{.}}</var></dt>
<dd>{{unix.description}}</dd>
{{/unix.environment}}
</dl>
{{/unix.environment.1}}
{{#schema.workexample.1}}
<h2>Examples</h2>
{{#schema.workexample}}
{{schema.description:N}}
<pre><code>{{schema.text:}}</code></pre>
{{/schema.workexample}}
{{/schema.workexample.1}}
{{#schema.softwarerequirements.1}}
<h2>Requirements</h2>
<ul>
{{#schema.softwarerequirements}}
<li><a href="{{.}}"><cite>{{schema.name}}</cite></a></li>
{{/schema.softwarerequirements}}
</ul>
{{/schema.softwarerequirements.1}}
{{#schema.license.1}}
<h2>License</h2>
{{#schema.license}}
<p><a href="{{.}}"><cite>{{schema.name}}</cite></a></p>
{{/schema.license}}
{{/schema.license.1}}
{{#schema.downloadurl}}
<h2>Download</h2>
{{#schema.softwareversion}}
<p>Current version: <code>{{schema.softwareversion}}</code></p>
{{/schema.softwareversion}}
<p>Repository: <a href="{{schema.downloadurl}}">{{schema.downloadurl}}</a></p>
{{/schema.downloadurl}}
{{#schema.usageinfo}}
<h2>Caveats</h2>
{{schema.usageinfo}}
{{/schema.usageinfo}}
{{#schema.haspart.1}}
<h1>Components</h1>
<ul>
{{#schema.haspart}}
<li><a href="{{.}}.{{schema.inlanguage}}.html"><cite>{{.:X}}</cite></a></li>
{{/schema.haspart}}
</ul>
{{/schema.haspart.1}}
</main>
</body>
</html>
