{{#schema.headline}}
<dt><a href="{{.}}">{{schema.headline}}</a></dt>
{{/schema.headline}}
{{^schema.headline}}
<dt><a href="{{.}}">{{schema.name}}</a></dt>
{{/schema.headline}}
{{#schema.description}}
<dd>{{schema.description}}</dd>
{{/schema.description}}
{{^schema.description}}
<dd>{{schema.abstract}}</dd>
{{/schema.description}}
